* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	line-height: 2;
	margin: 0;
	color: #65635A;
	letter-spacing: 0.1rem;
	text-align: center;
	font-family: sans-serif;
	background-color: #F2F2F2;
	/*max-width: 1100px;*/
}

main img {
	max-width: 100%;
}

.navbar a img {
	margin-right: 5px;
}

article {
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: solid black;
	background-color: #222222;
	color: white;
}

article p {
	border-radius: 10px;
}

article span {
	display: block;
	margin-bottom: 10px;
}

.raritycolor4 {
	background-color: #8847FF;
}

.raritycolor3 {
	background-color: #4B69FF;
}

.raritycolor2 {
	background-color: #5E98D9;
}